.container {
  border: 1px solid black;
  width: 400px;
  left: 40%;
  position: absolute;
}

#screen {
  width: 396px;
  height: 60px;
  border: 1px solid black;
  font-size: 40px;
  text-align: right;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  height: 60px;
  border-radius: 35px;
  box-shadow: 0px;
  font-size: 20px;
  color: #fff;
}

.btn-number {
  background-color: #003366;
}

.btn-operator, .btn-clear {
  background-color: #778899;
}

.btn-equals {
  background-color: #ffa500;
}
